/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    /* font-size: 0.9rem; */
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.c-pointer {
    cursor: pointer;
}

.mdc-text-field {
    background-color: #fff !important;
    font-size: 0.9rem;
    height: 45px !important;
}

.mat-mdc-form-field-focus-overlay {
    background-color: #fff !important;
}