.landmark-item {
    border: 1px solid grey;
    border-radius: 5px;
}

.landmark-item.active {
    border: 2.5px solid #004aad;
}

.info {
    cursor: pointer;
}

.autoCompleteItem {
    font-size: 0.875rem;
    font-weight: 400;
    color: #202124;
    white-space: nowrap;
}

.mdc-list-item {
    border-bottom: 1px solid #ecedf2;
}

.addl-info {
    background-color: #ebebeb;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 0.8rem;
}

.addl-info-container {
    position: fixed;
    bottom: 3vh;
    width: 12vw;
}

.icon {
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 25px;
}

.copter-view {
    background-image: url('../../../../assets/images/landmarks/copter_view_black.png')
}

.copter-view.active {
    background-image: url('../../../../assets/images/landmarks/copter_view.png')
}

.landmark-icon {
    background-image: url('../../../../assets/images/landmarks/landmark_icon_black.png')
}

.landmark-icon.active {
    background-image: url('../../../../assets/images/landmarks/landmark_icon.png')
}


.landmark-scroll-container{  
    width: 295px;          /* Adjust width as needed */
    overflow-x: auto;     /* Enable horizontal scrolling */
    white-space: nowrap;
}
.scroll-content{
    display: flex;
    gap: 10px;
}
.landmark-scroll-container{
    width: 326px;
  }