.dashboard-content {
    max-width: 70vw;
    font-size: larger;
  }
  
  .divider {
    border: 1px solid black;
  }
  
  .active {
    color: #3f51b5;
  }
  
  .small-text{
    font-size: small;
  }
  
  .sub-card{
    width: 32%;
    padding: 2%;
  }
  .icon{
    height: 30px;
  }