/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 0.9rem;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.vh-50 {
  height: 50vh;
}

.vh-90 {
  height: 90vh;
}


.close-btn-nav {
  margin-right: 1rem;
  font-size: large;
  float: right;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  /* background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em; */
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
  box-shadow: none;
}


.float-right {
  float: right;
}

.font-14 {
  font-size: 14px !important;
}

.background-blue {
  background-color: cadetblue;
}

.clearfix {
  clear: both;
}

.y-scroll {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* The below styles should be declared here because the map component encapsulation does not work for dynamically created html elements */
.marker {
  background-image: url('./assets/images/landmarks/location_pin.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-top-right {
  top: 7rem;
  right: 0.6rem;
}

/*  Form control input and material related custom styles */
.mdc-text-field {
  background-color: #fff !important;
  font-size: 0.9rem;
  height: 45px !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: #fff !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-mdc-form-field-icon-prefix {
  padding: 0 !important;
}

.mat-mdc-form-field-icon-prefix>.mat-icon {
  padding-top: 0px !important;
  height: 20px;
  width: 20px;
}

/* scale the mat slide toggle size */
.mat-mdc-slide-toggle {
  transform: scale(0.8) translateX(-10px);
}

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 50px;
}