.match-parent {
  width: 100%;
  height: 100%;
}

.custom-mapbox-ctrl {
  position: absolute;
  right: 0.6rem;
  top: 21rem;
  margin-right: 10px;
}

.custom-mapbox-ctrl.top {
  top: 5rem;
}

.custom-mapbox-ctrl button {
  padding-top: 0.2rem;
  height: 22px;
  width: 22px;
  margin: 4px;
  background-size: cover;
  cursor: pointer;
}

/* .map-view-toggle {
  background-image: url('../../../../../assets/images/menu/street_toggle_black.png')
}

.layout-toggle {
  background-image: url('../../../../../assets/images/menu/layout_toggle_black.png')
}

.layout-toggle:hover,
.layout-toggle.active {
  background-image: url('../../../../../assets/images/menu/layout_toggle.png')
} */

.location-reset {
  /* background-image: url('../../../../assets/images/menu/location_reset_black.png') */
}