<div class="map" id="map" class="match-parent"></div>
<!-- <div class="custom-mapbox-ctrl top mapboxgl-ctrl mapboxgl-ctrl-group">
    <button class="layout-toggle" [ngClass]="{'active': layoutPanelToggleActive}" type="button"
        (click)="toggleLayoutVisibility()" aria-label="Plot View" title="Toggle Layout Panel"
        aria-disabled="false"><span aria-hidden="true" title="Layout Toggle"></span></button>
</div>
<div class="custom-mapbox-ctrl mapboxgl-ctrl mapboxgl-ctrl-group">
    <button class="map-view-toggle" [ngClass]="{'active': streetToggleActive}" type="button"
        (click)="onStyleTypeChange()" aria-label="Satellite View" title="Toggle Satelite/Street View"
        aria-disabled="false"><span aria-hidden="true" title="Satellite/Street View"></span></button>
    <button class="location-reset" type="button" (click)="resetMapLocation()" aria-label="Reset Map"
        title="Reset Map position" aria-disabled="false"><span aria-hidden="true"
            title="Reset Location"></span></button>
</div> -->