.dashboard-content {
  max-width: 70vw;
  font-size: larger;
}

.divider {
  border: 1px solid black;
}

.active {
  color: #3f51b5;
}

.logo {
  height: 25px;
  width: 25px;
  background-position: center;
  background-size: cover;
  background-image: url('../../../assets/images/logo_original_64x64.png');
}

.small-text{
  font-size: small;
}

.sub-card{
  width: 32%;
  padding: 2%;
}
.icon{
  height: 30px;
}